@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
    outline: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
    font-size: 18px;
    cursor: default;
}

button{
    cursor: pointer;
}

.app-wrapper{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px 7px rgb(49, 26, 71);
    height: fit-content;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-wrapper header{
    text-align: center;
    font-size: 1.5em;
}

.app-wrapper .input-field{
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 100%;
}

.input-field input{
    font-size: 1.3em;
    width: 85%;
    padding: 0 2%;
}

.input-field button{
    flex-grow: 1;
}

.todo-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    padding: 1%;
    background-color: blueviolet;
    border-radius: 8px;
    cursor: default;
}

.todo-list li span {
    flex-basis: 70%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 4%;
}

.todo-list li:hover{
    background-color: rgb(162, 101, 219);
}

.todo-list li span.btn-container{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
}

.todo-list li button{
   visibility: hidden;
}

.todo-list li:hover button{
    visibility: visible;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer button{
    visibility: visible;
}

footer button.no-tasks{
    visibility: hidden;
}
